@import url('https://fonts.google.com/specimen/Spartan');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Spartan', 'sans-serif';
	font-size: 15px;
}
.container {
	padding-top: 4em;
	display: flex;
	flex-direction: column;
}
.headerRatings {
	width: 90vw;
	display: flex;
	flex-direction: column;
	align-self: center;
}
.header {
	display: flex;
	flex-direction: column;
}
.headerTitle {
	align-self: center;
	text-align: center;
	color: hsl(300, 43%, 22%);
	font-size: 30px;
	font-weight: 700;
}

.productDiscription {
	color: hsl(303, 10%, 53%);
	line-height: 1.5rem;
	text-align: center;
	padding: 1rem 0rem 2rem 0rem;
}
.ratings {
	display: flex;
	flex-direction: column;
}
.fistStar {
	display: flex;
	flex-direction: column;
	background-color: hsl(300, 24%, 96%);
	align-items: center;
	padding: 1rem 0rem;
	color: hsl(300, 43%, 22%);
	font-weight: 700;
	line-height: 1.5rem;
	border-radius: 5px;
	font-size: 13px;
}
.secondStar {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	background-color: hsl(300, 24%, 96%);
	align-items: center;
	padding: 1rem 0rem;
	color: hsl(300, 43%, 22%);
	font-weight: 700;
	line-height: 1.5rem;
	border-radius: 5px;
	font-size: 13px;
}
.thirdStar {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	background-color: hsl(300, 24%, 96%);
	align-items: center;
	padding: 1rem 0rem;
	color: hsl(300, 43%, 22%);
	font-weight: 700;
	line-height: 1.5rem;
	border-radius: 5px;
	font-size: 13px;
}
.buyers {
	display: flex;
	flex-direction: column;
	padding: 4rem 0rem;
	width: 90vw;
	align-self: center;
}
.coltonSmith {
	display: flex;
	flex-direction: column;
	background-color: hsl(300, 43%, 22%);
	border-radius: 8px;
	padding: 2rem 1rem;
	color: hsl(0, 0%, 100%);
}
.ireneRoberts {
	display: flex;
	flex-direction: column;
	background-color: hsl(300, 43%, 22%);
	border-radius: 8px;
	padding: 2rem 1rem;
	margin-top: 1rem;
	color: hsl(0, 0%, 100%);
}
.anneWallace {
	display: flex;
	flex-direction: column;
	background-color: hsl(300, 43%, 22%);
	border-radius: 8px;
	padding: 2rem 1rem;
	margin-top: 1rem;
	color: hsl(0, 0%, 100%);
}
.buyer {
	display: flex;
}
.buyerImage {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}
.buyerName {
	padding-left: 1.5rem;
	line-height: 1.3rem;
}
.name {
	font-weight: 700;
}
.verifiedBuyer {
	color: hsl(333, 80%, 67%);
}
.buyerThough {
	padding-top: 2rem;
	line-height: 1.5rem;
	font-size: 13px;
}
@media only screen and (min-width: 1024px) {
	.headerRatings {
		flex-direction: row;
		width: 85vw;
		justify-content: space-between;
	}
	.header {
		width: 40%;
	}
	.headerTitle {
		align-self: flex-start;
		text-align: start;
	}
	.productDiscription {
		text-align: start;
	}
	.ratings {
		margin-top: 1rem;
	}
	.fistStar {
		flex-direction: row;
		padding: 0.5rem 4rem 0.5rem 1.5rem;
		margin-right: 4rem;
	}
	.secondStar {
		flex-direction: row;
		padding: 0.5rem 0rem 0.5rem 1.5rem;
		margin: 1rem 2rem;
	}
	.thirdStar {
		flex-direction: row;
		padding: 0.5rem 0rem 0.5rem 1.5rem;
		margin-left: 4rem;
		margin-top: 0rem;
	}
	.star {
		padding-top: 0.2rem;
	}
	.ratingQoutes {
		padding-left: 2rem;
	}

	.buyers {
		flex-direction: row;
		padding: 4rem 0rem;
		width: 85vw;
		align-self: center;
		justify-content: space-between;
	}
	.coltonSmith {
		padding: 0rem 0rem;
		width: 30%;
		margin: 0rem 0rem 2rem 0rem;
		padding: 2rem 2rem;
	}
	.ireneRoberts {
		padding: 0rem 0rem;
		margin: 1rem 0rem 1rem 0rem;
		width: 30%;
		padding: 2rem 2rem;
	}
	.anneWallace {
		padding: 0rem 0rem;
		margin: 2rem 0rem 0rem 0rem;
		width: 30%;
		padding: 2rem 2rem;
	}
	.buyer {
		display: flex;
	}
	.buyerImage {
		width: 40px;
		height: 40px;
		border-radius: 50%;
	}
	.buyerName {
		padding-left: 1.5rem;
		line-height: 1.3rem;
	}
	.name {
		font-weight: 700;
	}
	.verifiedBuyer {
		color: hsl(333, 80%, 67%);
	}
	.buyerThough {
		padding-top: 2rem;
		line-height: 1.5rem;
		font-size: 13px;
	}
}
